body {
    font-family: "Exo", sans-serif;
    background-color: #000 !important;
}
.searchInput {
    border: 1px solid #fff;
    color: #fff;
}

/* ? Sidebar */
.sidebar {
    width: 70px;
    background-color: #fff;
    z-index: 10;
    text-align: center;
    color: #333;
}
.sidebar .logo {
    width: 35px;
}
.sidebar .menuBtn i {
    font-size: 24px;
    cursor: pointer;
}
.sidebar .closeBtn i {
    font-size: 24px;
    cursor: pointer;
    float: right;
}

/* Sidebar menu */
.sidebarMenu {
    left: -300px;
    width: 300px;
    background-color: #000;
    color: #fff;
    padding: 24px 12px;
    transition: 0.4s ease;
}
.sidebarMenu.active {
    left: 70px
}
.sidebar ul {
    list-style: none;
    margin-top: 50px;
    padding-left: 12px;
}
.sidebarMenu ul li {
    font-size: 20px;
    cursor: pointer;
    padding: 12px 0px ;
    width: fit-content;
}
.sidebarMenu ul li:hover {
    color: #e91e63;
    padding-left: 8px;
}
.sidebarMenu ul li a {
    color: inherit;
}
.sidebarFooter span {
    color: #e91e63;
    font-weight: bolder;
}


/* ! Movies Container */
.moviesContainer {
    display: grid;
    padding: 30px;
    gap: 24px;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}
.movieCard {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
}
.movieCard img {
    width: 100%;
    transition: 0.5s;
}
.movieCard:hover img {
    transform: scale(1.5);
}
.movieCard .overlay {
    position: absolute;
    top: -1000px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 24px;
    transition: all 0.5s ease-in-out;
}
.movieCard:hover .overlay{
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}


/* ~ Contact us form */
.contactUs input {
    background-color: transparent;
    color: #fff;
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 0px;
}
.contactUs input:focus,
.contactUs input:hover,
.contactUs input:active {
    background-color: transparent;
    color: #fff;
    border: none;
    border-bottom: 1px solid #fff;
    box-shadow: none;
}
.contactUs input::placeholder {
    color: #fff;
    opacity: 0.7;
}  
.contactUs input::-ms-input-placeholder {
    color: #fff;
}
#error {
    color: #e91e63;
    margin-top: 12px;
}
#success {
    color: green;
    margin-top: 12px;
}